    $red: #ed1c24;
    $grey: #414142;
    $min-margin: 5px;
    $med-margin: 10px;
    $high-margin: 20px;
    @font-face {
        src: url(../fonts/futura.ttf);
        font-family: "futura";
        font-display: swap;
    }
    
    @font-face {
        src: url(../fonts/avenir.otf);
        font-family: "avenir";
        font-display: swap;
    }
    
    $futura: "futura";
    $avenir: "avenir";
    * {
        font-family: $futura!important;
    }
    
    *:focus,
    *:active {
        outline: none!important;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: $avenir!important;
        font-weight: 900;
    }
    
    .row {
        width: 100%;
    }
    
    // nav
    nav {
        background-color: $grey;
        color: $red;
        div {
            .navdisplay {
                width: 60px;
                height: 60px;
                // right: $med-margin+5;
                // top: $med-margin+10;
                // position: absolute;
            }
            .navdisplay:before,
            .navdisplay div,
            .navdisplay:after {
                border-radius: 3px;
                content: '';
                display: block;
                height: 5px;
                margin: 6px 0;
                transition: all .2s ease-in-out;
                -webkit-transition: all .2s ease-in-out;
                -moz-transition: all .2s ease-in-out;
                background-color: $red;
            }
            .navhide:before {
                transform: translateY(9px) rotate(135deg);
            }
            .navhide:after {
                transform: translateY(-10px) rotate(-135deg);
            }
            .navhide div {
                transform: scale(0);
            }
            div {
                color: $red!important;
                ul {
                    .active:after {
                        border-radius: 3px;
                        content: '';
                        display: block;
                        height: 5.5px;
                        margin: 4px 0;
                        transition: all .2s ease-in-out;
                        -webkit-transition: all .2s ease-in-out;
                        -moz-transition: all .2s ease-in-out;
                        background-color: $red;
                    }
                    a {
                        text-align: center;
                        color: floralwhite;
                        margin: $med-margin;
                        text-transform: uppercase;
                        font-size: large;
                        letter-spacing: 2px;
                    }
                    a:hover {
                        color: white;
                        text-decoration: none;
                    }
                }
            }
        }
    }
    
    .collapse.navbar-collapse {
        width: fit-content;
    }
    
    .navbar-brand {
        width: fit-content;
        img {
            height: 70px;
            width: 54px;
        }
    }
    
    @media screen and (max-width:766px) {
        nav.navbar.navbar-inverse {
            padding: 0px;
            div.container {
                padding: 0px;
            }
            div.navbar.navbar-expand-md {
                padding: 0px;
                div.collapse.navbar-collapse {
                    padding: 0px;
                    ul {
                        padding: 0px;
                        ;
                        a.nav-link {
                            padding: $high-margin;
                            margin: 0px -47px;
                            width: 100%;
                            font-weight: 900;
                        }
                        .active {
                            background-color: $red;
                        }
                        .active:after {
                            display: none;
                        }
                    }
                }
            }
        }
        .navbar-brand {
            margin: 5px;
            margin-left: $med-margin*2;
            img {
                height: 63px;
                width: 48.6px;
            }
        }
        .navdisplay {
            margin-right: 15px;
        }
    }