$red: #ff2800;
$grey: #414142;
$min-margin: 5px;
$med-margin: 10px;
$high-margin: 20px;
@font-face {
    src: url(../fonts/futura.ttf);
    font-family: "futura";
    font-display: swap;
}

@font-face {
    src: url(../fonts/avenir.otf);
    font-family: "avenir";
    font-display: swap;
}

@font-face {
    src: url(../fonts/avenirbold.ttf);
    font-family: "avenir bold";
    font-display: swap;
}

$futura: "futura";
$avenir: "avenir";
$avenir-bold: "avenir bold";
*:focus,
*:active {
    outline: none!important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $avenir-bold;
    font-weight: 900;
}

.row {
    width: 100%;
    margin: 0px;
}

.container-fluid {
    padding: 0px;
}

// nav
#header {
    width: 100%;
    z-index: 1;
}

.fa {
    font-weight: 900;
}

.btn-instagram,
.btn-twitter,
.btn-facebook,
.btn-linkedin {
    background-color: transparent!important;
    border: none;
}

.fa-instagram:before,
.fa-twitter:before,
.fa-facebook:before,
.fa-linkedin:before {
    color: white;
}

.btn {
    padding: .2rem .5rem;
}

nav {
    background-color: $grey;
    color: $red;
    div.container-fluid {
        padding: 0 30px;
    }
    div {
        a.navbar-brand {
            font-family: $futura;
        }
        .navdisplay {
            width: 60px;
            height: 60px;
            // right: $med-margin+5;
            // top: $med-margin+10;
            // position: absolute;
        }
        .navdisplay:before,
        .navdisplay div,
        .navdisplay:after {
            border-radius: 3px;
            content: '';
            display: block;
            height: 5px;
            margin: 6px 0;
            transition: all .2s ease-in-out;
            -webkit-transition: all .2s ease-in-out;
            -moz-transition: all .2s ease-in-out;
            background-color: white;
        }
        .navdisplay div {
            background-color: $red;
        }
        .navhide:before {
            transform: translateY(9px) rotate(135deg);
        }
        .navhide:after {
            transform: translateY(-10px) rotate(-135deg);
        }
        .navhide div {
            transform: scale(0);
        }
        div {
            color: $red!important;
            ul {
                .active:after {
                    border-radius: 3px;
                    content: '';
                    display: block;
                    height: 5.5px;
                    margin: 4px 0;
                    transition: all .2s ease-in-out;
                    -webkit-transition: all .2s ease-in-out;
                    -moz-transition: all .2s ease-in-out;
                    background-color: $red;
                }
                a {
                    text-align: center;
                    color: floralwhite;
                    margin: $med-margin;
                    text-transform: uppercase;
                    font-size: medium;
                    letter-spacing: 2px;
                }
                a:hover {
                    color: white;
                    text-decoration: none;
                }
            }
        }
    }
}

.collapse.navbar-collapse {
    width: fit-content;
}

.navbar-brand {
    width: fit-content;
    text-decoration: none;
    color: white;
    font-weight: 900;
    img {
        height: 70px;
        width: 54px;
    }
    div:nth-child(2) {
        color: white!important;
    }
}

.navbar-brand:hover {
    color: white
}

@keyframes navanimate {
    from {
        transform: translateY(-100px);
    }
    to {
        transform: translateY(0px);
    }
}

.navanimate {
    animation-name: navanimate;
    animation-duration: 0.5s;
    // animation-timing-function: ease-in-out;
}

@media screen and (max-width:1280px) {
    nav {
        div {
            div {
                ul {
                    a {
                        font-size: small;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 766px) {
    nav.navbar.navbar-inverse {
        padding: 0px;
        div.container-fluid {
            padding: 0px;
        }
        div.navbar.navbar-expand-md {
            width: 100%;
            padding: 0px;
            div.collapse.navbar-collapse {
                padding: 0px;
                ul {
                    padding: 0px;
                    a.nav-link {
                        padding: $high-margin;
                        margin: 0px -47px;
                        width: 100%;
                        font-size: large;
                    }
                    .active {
                        background-color: $red;
                        transition: 0s;
                    }
                    .active:after {
                        background-color: transparent;
                        height: 0px;
                        margin: 0px;
                        // content: none;
                    }
                }
            }
        }
    }
    .navbar-brand {
        margin: 5px;
        margin-left: $med-margin*2;
        img {
            height: 63px;
            width: 48.6px;
        }
    }
    .navdisplay {
        margin-right: 15px;
    }
}

// body
.full-height-width {
    height: 100vh;
    width: 100vw;
    z-index: 10;
    top: 0px;
    background-color: black;
    position: fixed;
}

.full-height-width.zero-width {
    width: 0px;
    transition: 2s;
    transition-delay: 1s;
    transition-timing-function: ease-in-out;
}

@keyframes bodyanimate {
    from {
        transform: translateY(100px);
        visibility: visible;
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
        visibility: visible;
    }
}

.bodyanimate.visible {
    visibility: visible;
}

.bodyanimate {
    visibility: hidden;
    animation-name: bodyanimate !important;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-timing-function: ease-in-out;
}

#body {
    padding-top: 14vh;
    position: relative;
    .col-sm-6:nth-child(1) {
        background-image: url(../img/logo.jpg);
        padding: 0px;
        height: 100vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        .frame {
            width: 80%;
            height: 50%;
        }
    }
    .col-sm-6:nth-child(2) {
        height: 100vh;
        padding: 30px;
        background-color: white;
        .container {
            padding: 15px;
            height: 100%;
            display: flex;
            div {
                margin: auto;
            }
        }
        .name {
            color: $grey;
            text-align: center;
            font-family: $avenir-bold;
            font-size: xxx-large;
            span {
                color: $red;
            }
        }
        .designation {
            font-family: $futura;
            text-align: center;
            font-size: x-large;
        }
        .works,
        .works-2,
        .works-3 {
            font-family: $avenir;
            font-weight: 900;
            color: grey;
            font-size: 50px;
            line-height: 90px;
        }
    }
}

// .lineheightanimate {
//     animation-name: lineheightanimate;
//     animation-duration: 0.5s;
//     animation-timing-function: ease-in-out;
// }
// @keyframes lineheightanimate {
//     from {
//         line-height: 0px;
//     }
//     to {
//         line-height: 90px;
//     }
// }
@media screen and (max-width:766px) {
    .full-height-width.zero-width {
        transition: 1s;
        transition-delay: 1s;
    }
    // @keyframes lineheightanimate {
    //     from {
    //         line-height: 0px;
    //     }
    //     to {
    //         line-height: 42px;
    //     }
    // }
    #body {
        background-color: $grey;
        padding-top: 7vh;
        .col-sm-6:nth-child(1) {
            height: 50vh;
            background-attachment: scroll;
            background-size: cover;
        }
        .col-sm-6:nth-child(2) {
            height: 50vh;
            .name {
                font-size: xx-large;
            }
            .designation {
                font-size: large;
            }
            .works,
            .works-2,
            .works-3 {
                line-height: 42px;
                font-size: 38px!important;
            }
        }
    }
}